<br />
<br />

<section>
  <div class="footer-container">
    <br>
    <div class="follow text-center" style="color: #ffff; padding: 1px">
      <h2>Follow Us</h2>
      
      <a href="#" class="fa fa-facebook"> facebook</a>
      <a href="#" class="fa fa-Instagram">Instagram</a>
      <a href="#" class="fa fa-Twitter">Twitter</a>
      <a href="#" class="fa fa-YouTube">YouTube</a>
      <a href="#" class="fa fa-TikTok">Tiktok</a>
      <a href="#" class="fa fa-GitHub">GitHub</a>
    </div>
    <div class="mt-3 copyright" style="text-align: center; color: #ffff">
      <h6>All Rights Reserved by <a href="#">Tsietsinho</a></h6>
    </div>
  </div>
</section>

