<mat-nav-list>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="dashboard">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="student-table">
        <mat-icon>group</mat-icon>
        <span>Students</span>
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="tutor-table">
        <mat-icon>persons</mat-icon>
        <span>Tutors</span>
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="booking-table">
        <mat-icon>forum</mat-icon>
        <span>Bookings</span>
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="module-table">
        <mat-icon>book</mat-icon>
        <span>Modules</span>
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="become-tutor-table">
        <mat-icon>work</mat-icon>
        <span>Applications</span>
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="admin-session">
        <mat-icon>speaker_notes</mat-icon>
        <span>Sessions</span>
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="admin-profile">
        <mat-icon>persons</mat-icon>
        <span>Profile</span>
    </a>

    <a mat-list-item routerLinkActive="list-item-active" (click)="actionFunction()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Logout</span>
    </a>
</mat-nav-list>