<div class="header">
    <app-headers></app-headers>
</div>

<section class="course">
    <div class="container">
        <h1 class="text-center" style="color:black">All Modules</h1>
        <div class="row mt-5">
            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <h4 class="mt-2">Mathematics</h4>
                    <img routerLink="/booking" [src]=Maths_Image height="300px" width="100%">
                </div>
            </div>

            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <h4 class="mt-2">Physical Science</h4>
                    <img routerLink="/booking" [src]=Physics_Image height="300px" width="100%">
                </div>
            </div>

            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <h4 class="mt-2">Chemistry</h4>
                    <img routerLink="/booking" [src]=Chem_Image height="300px" width="100%">
                </div>
            </div>

            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <h4 class="mt-2">Life Science</h4>
                    <img routerLink="/booking" [src]=Life_Image height="300px" width="100%">
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <h4 class="mt-2">Accounting</h4>
                    <img routerLink="booking" [src]=Accounting_Image height="300px" width="100%">
                </div>
            </div>

            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <h4 class="mt-2">Computer Science</h4>
                    <img routerLink="/booking" [src]=Com_Image height="300px" width="100%">
                </div>
            </div>

            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <h4 class="mt-2">Informatics</h4>
                    <img routerLink="/booking" [src]=Info_Image height="300px" width="100%">
                </div>
            </div>

            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <h4 class="mt-2">Statistics</h4>    
                    <img routerLink="/booking" [src]=Stats_Image height="300px" width="100%">
                </div>
            </div>
        </div>
    </div>       
</section>