<div class="d-flex flex-row bd-highlight mb-3">
    <div class="form-group row">

        <label class="col-sm-2 col-form-label">Applicant Name</label>
        <div class="col-sm-10">
            <input type="type" class="form-control" [(ngModel)]="Firstname" placeholder="Enter Applicant Name">
        </div>

        <label class="col-sm-2 col-form-label">Applicant Surname</label>
        <div class="col-sm-10">
            <input type="type" class="form-control" [(ngModel)]="Lastname" placeholder="Enter Applicant Surname">
        </div>

        <label class="col-sm-2 col-form-label">Contact Number</label>
        <div class="col-sm-10">
            <input type="type" class="form-control" [(ngModel)]="Contact_Number" placeholder="Enter Contact Number">
        </div>

        <label class="col-sm-2 col-form-label">Applicant Email</label>
        <div class="col-sm-10">
            <input type="type" class="form-control" [(ngModel)]="Applicant_Email" placeholder="Enter Applicant Email">
        </div>
    </div>
</div>



