<mat-nav-list>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="course">
        <mat-icon>book</mat-icon>
        Modules
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="profiles">
        <mat-icon>persons</mat-icon>
        Profile
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="notification">
        <mat-icon>notifications</mat-icon>
        Notifications
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="student-session">
        <mat-icon>assignment</mat-icon>
        Session
    </a>

    <a mat-list-item routerLinkActive="list-item-active" (click)="actionFunction()">
        <mat-icon>power_settings_new</mat-icon>
        Logout
    </a>

</mat-nav-list>

