<br>
<br>

<h1 style="text-align: center;"><b>Applicant Suporting Document Information</b></h1>

<br>

<table class="table table-bordered">
  <thead class="thead-light">
      <tr>
          <th>Applicant ID</th>
          <th>CV</th>
          <th>Matric Certificate</th>
          <th>ID Copy</th>
          <th>Other Document</th>
          <th>Options</th>
      </tr>
  </thead>

  <tbody>
      <tr *ngFor="let dataItem of vacancyList">
          <td>{{dataItem.Applicant_ID}}</td>
          <td>{{dataItem.CV}}</td>
          <td>{{dataItem.Matric_Certificate}}</td>
          <td>{{dataItem.ID_Copy}}</td>
          <td>{{dataItem.Other_Document_1}}</td>
          <td>

              <button type="button" class="btn btn-light mr-1"
              (click)="deleteThirdClick(dataItem)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                  <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                </svg>
              Delete</button>
          </td>
      </tr>
  </tbody>
</table>